<div class="block block-account">
    <div class="block-title">
        <strong><span>My Account</span></strong>
    </div>
    <div class="block-content">
        <ul>
            <li><a href="{{path('shop_bookshop_dashboardIndex')}}">Account Dashboard</a></li>
            <li><a href="{{path('shop_bookshop_dashboardEditAccount')}}">Account Information</a></li>
            <li><a href="{{path('shop_bookshop_dashboardAllOrders')}}">My Orders</a></li>
            <li><a href="{{path('shop_bookshop_dashboardEditBillingAddress')}}">Billing address</a></li>
            <li><a href="{{path('shop_bookshop_dashboardEditShippingAddress')}}">Shipping address</a></li>
        </ul>
    </div>
</div>